.file-upload {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.file-upload input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    -border: solid transparent;
    border-width: 0 0 600px 600px;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transform: translate(-400px, 0) scale(14);
    direction: ltr;
    cursor: pointer;
}