.unit-subadd {
    color: #ededed;
    visibility: hidden;
}
.unit-subadd span {
    cursor: pointer;
}
.unit-subadd:hover span {
    color: #d4d4d4;
}
.unit-inners:hover .unit-subadd {
    visibility: visible;
}

.sortable-process .sortable {
    min-height: 25px;
}
.sortable-process .unit-subadd {
    visibility: hidden !important;
}
.sortable-process .ui-sortable-helper .unit-inners {
    display: none;
}

.sort {
    cursor: move;
}