body {
    padding-top: 54px
}

.unit {
    padding-top: 10px;
    padding-bottom: 10px;
}

.unit-credits {
    text-align: right;
    font-size: small;
    visibility: hidden
}
.unit-credits a {
    color: silver;
}
.unit-credits a:hover {
    color: black;
}
.unit:hover > .unit-credits {
    visibility: visible;
}

.unit-inners {
    border-left: 1px solid #f0f0f0;
    padding-left: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.unit-image-pic {
    text-align: center
}
.unit-image h5 {

}

.unit-text {
    text-align: left;
}

.dateCreated {
    color: gray;
}

.feed-page {
    margin-bottom: 15px;
    background-color: white;
    padding: 5px;
}
.pages-feed {
    padding: 10px;
    background-color: #f5f5f5;
}
.page-credits {
    text-align: right;
    border-top: 1px dashed #f5f5f5;
}