.unit-title {
    width: 100%;
    border: 0 solid transparent;
    font-size: 30px;
    font-family: Tahoma;
    height: 34px;
}

.unit-adder {
    height: 350px;
    border: 1px solid gray;
    border-radius: 3px;
}

.unit-adder-drop {
    background: #ffdab9;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.unit-adder-drop input {
    width: 1000px;
    height: 1000px;
    border: solid transparent;
    border-width: 0 0 300px 300px;
    opacity: 0;
    filter: alpha(opacity = 0);
    /*-o-transform: translate(250px, -50px) scale(1);*/
    -moz-transform: translate(-700px, 0) scale(4);
    direction: ltr;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 600px;
}