.page-title {
    width: 760px;
    margin-left: 12px;
    border: 0 solid transparent;
    border-bottom: 1px solid silver;
    background-color: rgba(246, 245, 245, .75);
    border-radius: 0;
    font-size: 30px;
    font-family: Tahoma;
    height: 34px;
}


.page-file-upload {
    line-height: 16px;
}
.page-file-upload form {
    display: inline;
}


.page-bottom-edit-menu span.btn {
    line-height: 16px;
}
.page-bottom-edit-menu{
    padding-left: 10px;
    width: 770px;
}

.tags-block {
    background: #f5f5f5;
    padding: 2px;
    border: 1px solid #c0c0c0;
}
.add-more-block {
    background: #f5f5f5;
    padding: 2px;
    border: 1px solid #c0c0c0;
}
.page-bottom-spacer {
    height: 18px;
}


.unit {
    border-bottom: 1px solid silver;
    padding: 10px;
    background: white;
}

.unit-edit .unit-head span {
    float: right;
}

.unit-title input {
    font-weight: bold;
    font-size: 17px;
    width: 60%;
    height: 20px;
    border: 0;
}

.float-right-box, .float-left-box {
    width: 16px;
    height: 16px;
    display: block;
}
.float-left-box {
    float: left;
    margin-left: -18px;
}
.float-right-box {
    float: right;
    margin-right: -18px;
}
.unit-delete {
    visibility: hidden;
}
.unit:hover .unit-delete {
    visibility: visible;
}

.inners-visibility {
    color: gray;
    cursor: pointer;
}

.cursor-link {
    cursor: pointer;
}

div.unit-text {
    min-height: 100px;
}
.unit-text{
    width: 100%;
    cursor: text;
    border: 1px solid #f8f8f8;
    border-radius: 5px;
}

.edit-empty {
    height: 200px;
    text-align: center;
}

.unit-credits.unit-head {
    position: relative;
}
.unit-credits.unit-head span {
    position: absolute;
    right: -18px;
    overflow: hidden;
    width: 26px;
    height: 26px;
}
.unit-credits.unit-head span.unit-delete {
    color: red;
    top: 40px;
    cursor: crosshair;
}

.unit-adder .ui-progressbar {
    margin: 10px;
}





.edit-float-menu {
    width: 160px;
    max-width: 160px;
}

