.page-title {
    width: 100%;
    border: 0 solid transparent;
    font-size: 30px;
    font-family: Tahoma;
    height: 34px;
}

.unit-adder {
    height: 100px;
}

.unit-adder-drop {
    background: #f9f9f9;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.unit-adder-drop input {
    width: 1000px;
    height: 400px;
    border: solid transparent;
    border-width: 0 0 300px 300px;
    opacity: 0;
    filter: alpha(opacity = 0);
    /*-o-transform: translate(250px, -50px) scale(1);*/
    -moz-transform: translate(-700px, 0) scale(4);
    direction: ltr;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 600px;
}

.unit {
    border-bottom: 1px solid silver;
    padding: 10px;
}

.unit-edit .unit-head span {
    float: right;
}

.unit-title input {
    font-weight: bold;
    font-size: 17px;
    width: 60%;
    height: 20px;
    border: 0;
    color: black;
}

.float-right-box, .float-left-box {
    width: 16px;
    height: 16px;
    display: block;
}
.float-left-box {
    float: left;
    margin-left: -18px;
}
.float-right-box {
    float: right;
    margin-right: -18px;
}
.unit-delete {
    color: #8b0000;
    cursor: crosshair;
    visibility: hidden;
}
.unit:hover .unit-delete {
    visibility: visible;
}

.inners-visibility {
    color: gray;
    cursor: pointer;
}

.cursor-link {
    cursor: pointer;
}

.unit-text{
    min-height: 100px;
    cursor: text;
    border: 1px solid #f8f8f8;
    border-radius: 5px;
}

.edit-empty {
    height: 200px;
    text-align: center;
}

.unit-credits.unit-head {
    position: relative;
}
.unit-credits.unit-head span {
    position: absolute;
    right: -18px;
    overflow: hidden;
    width: 26px;
    height: 26px;
}
.unit-credits.unit-head span.unit-delete {
    color: red;
    top: 40px;
    cursor: crosshair;
}

.unit-adder .ui-progressbar {
    margin: 10px;
}





.edit-float-menu {
    width: 180px;
}

