.avatar-dragover {
    background-color: #ccffcc;
}

.avatar-progressbar {
    display: none;
    width: 210px;
    height: 10px;
    padding: 0;
    margin: 0;
    background-color: #ffcccc;
}

.ui-progressbar-value {
    background: red;
    width: 0;
    height: 10px;
    content: '.';
}

.hidden-file-input {
    display: none;
}

.avatar-holder input {
    width: 200px;
    height: 40px;
    border: solid transparent;
    border-width: 0 0 100px 200px;
    opacity: 0;
    filter: alpha(opacity = 0);
    /*-o-transform: translate(250px, -50px) scale(1);*/
    -moz-transform: translate(-300px, 0) scale(4);
    direction: ltr;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 60px;
}

.avatar-holder label {
    position: relative;
    width: 210px;
    height: 40px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
}

.avatar-holder label span {
    cursor: pointer;
}